* {
	transition-duration: 0.5s;
	text-align: center;
	font-family: "Inconsolata", monospace;
	font-weight: bold;
	table-align: center;
	margin: auto;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

}
.uiHolder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.titleHolder {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 385px;
	height: 50px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 20px;
	line-height: 1;
	background: linear-gradient(90deg, #555555 0%, #3e3e3e 50%, #555555 100%);
	border-bottom: 3px solid #7a7a7a;
	padding: 0px;
	user-select: none;
	z-index: 1500;
}
.layerHolder {
	position: absolute;
	top: 75.5px;
	left: 0px;
	display: block;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	justify-content: center;
	align-items: start;
	width: 400px;
	height: calc(100% - 203px);
	border-left: 3px solid #7a7a7a;
	border-right: 3px solid #7a7a7a;
	border-bottom: 3px solid #7a7a7a;
	padding-left: 0px;
	padding-top: 53px;
	user-select: none;
	z-index: 2000 !important;
}
.layerBG {
	z-index: -2000;
	width: 400px;
	height: calc(100% - 149px);
	position: absolute;
	top: 75px;
	left: 0px;
	background: #0f0f0f
}
.uniHolder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 400px;
	height: 70px;
	display: flex;
	justify-content: left;
	align-items: center;
	background: #0f0f0f;
	overflow: hidden;
	border: 3px solid #7a7a7a;
	z-index: 1000;
}
.miscMenu {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 400px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: auto;
	background: #0f0f0f;
	border-left: 3px solid #7a7a7a;
	border-right: 3px solid #7a7a7a;
	border-bottom: 3px solid #7a7a7a;
	z-index: 1000;
}
.uniButton {
	width: auto;
	height: 100%;
	flex-grow: 1;
	color: rgba(0, 0, 0, 0.9);
	font-size: 30px;
	cursor: pointer;
	pointer-events: auto;
	background: #a3a3a3;
	border: var(--hqProperty1);
	border-width: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	transition: all 0s;
}
.uniButton:hover {
	filter: brightness(105%);
}
.arrowHolder {
	width: 35px;
	height: 100%;
	flex-grow: 0;
	background-color: #222;
	border-left: 3px solid #7a7a7a;
}
.arrowButton {
	display: flex;
	width: 100%;
	height: 50%;
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	background-color: #444;
	border-width: 0px;
	cursor: pointer;
	pointer-events: auto;
	transition: all 0s;
}
.arrowButton:hover {
	background-color: #555;
}
.arrowButton:disabled {
	color: rgba(255, 255, 255, 0.3);
	background-color: #222;
	cursor: default;
}
.miscButton {
	width: 60px;
	height: 100%;
	display: flex;
	flex-grow: 1;
	background-color: #333;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1.5px solid #7a7a7a;
	border-right: 1.5px solid #7a7a7a;
	cursor: pointer;
	pointer-events: auto;
	transition: all 0.5s;
}
.miscButton:hover {
	background-color: #444;
}
.miscButton:disabled {
	background-color: #222;
	cursor: default;
}
.miscImg {
	width: 60px;
	height: 60px;
}
.miscText {
	color: white;
	font-size: 60px;
}
.treeRow {
	margin: 0px 0px 10px 0px;
}
.darkTitle {
	background: linear-gradient(90deg, #0f011c 0%, #000000 50%, #0f011c 100%);
}
.darkButton {
	background-color: #111;
}
.darkButton:hover {
	background-color: #222;
}
.darkButton:disabled {
	background-color: black;
	cursor: default;
}
.trees {
	margin-top: 25px;
}
/* For when width is less then or equal to 1200px */
@media (max-width: 1250px) {
	.uniHolder {
		width: calc(100% - 6px);
	}
	.titleHolder {
		width: 295px;
		top: 120px;
		left: -122px;
		transform: rotate(-90deg);
	}
	.arrowHolder {
		width: 6%;
	}
	.layerHolder {
		width: calc(100% - 59px);
		height: 300px;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
		justify-content: start;
		align-items: center;
		text-align: left;
		padding-top: 0px;
		padding-left: 53px;
	}
	.layerBG {
		width: 100%;
		height: 300px;
	}
	.miscMenu {
		width: calc(100% - 6px);
		border-top: 3px solid #7a7a7a;
	}
	.trees {
		display: inline-flex;
		width: auto;
		height: 290px;
		flex-direction: row;
		margin-top: 0px;
		margin-left: 25px;
	}
	.treeNode {
		margin: 5px 0px 5px 0px !important;
	}
	.treeRow {
		max-height: 290px;
		display: flex !important;
		flex-flow: column wrap !important;
		margin: 0 10px 0px 10px !important;
	}
	.tabHolder {
		display: inline-flex;
		width: auto;
		height: 290px;
		flex-direction: row;
	}
	.tabRow {
		width: auto;
		height: 100%;
		flex-direction: column !important;
		border-bottom: 0px;
		border-right: 3px solid #7a7a7a;
	}
	.tabRowHolder {
		width: auto !important;
		flex-direction: row !important;
		padding: 0 4px 0 4px !important;
	}
	.tabNode {
		width: 50px !important;
		height: 190px !important;
		padding: 12% 0 12% 0 !important;
		margin: 0 4px 0 4px !important;
	}
	.tabLabel {
		writing-mode: vertical-rl;
	}
	.tabTitleHolder {
		min-width: 0px !important;
		text-wrap: wrap !important;
		width: 100%;
		height: 80px;
	}
	.tabTitle {
		border-bottom: 3px solid #7a7a7a;
		border-right: 0px !important;
	}
}

*:focus {
	outline: none;
	webkit-outline: none;
}

html, body {
	min-height: 100%;
	height: 100%;
}

td {
	padding: 0
}

.upgTable {
	display: flex !important;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgRow {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgAlign {
	vertical-align: 0
}

.bigUpgAlign {
	vertical-align: 0
}

.treeThing {
	margin: 0 10px 0 10px;
	vertical-align: middle;
}

.can.upg:hover {
	z-index: 2
}

.can.buyable:hover {
	z-index: 2
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 40px;
	cursor: pointer;
}

.other-back {
	position: absolute;
	top: 0;
	left: 60px;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 60px;
	cursor: pointer;
}

.back:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.hidden {
	visibility: hidden;
	height: 50px !important;
}

.canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -999;
}

.left {
	position: absolute;
	left: 0;
}

.remove {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.remove:hover {
	transform: scale(1.1, 1.1);
}

.instant {
	transition-duration: 0s !important
}

.fast {
	transition:color none
}

#app {
	column-count: 2;
	column-width: 50%;
	min-height: 100%;
}

.vl2 {
	border-left: 3px solid var(--color);
	height: 100%;
}

ul {
	list-style-type: none;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.tooltipBox {
	position: relative;
  }

  .tooltipBox:hover .tooltip{
	opacity: 1;
  }

  .forceTooltip .tooltip{
	opacity: 1;
  }

.respecCheckbox {
	display: inline-block;
}


#loadingSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.treeOverlay {
	pointer-events:none;
	overflow:hidden;
}

.front {
	z-index: 30000
}

.overlayThing {
	z-index: 10000;
	pointer-events:auto;
}

.sideLayers {
	z-index: 10000;
	pointer-events:auto;
	position: absolute;
	right: 55px;
	top: 65px;
	background-color: transparent;
}

button > * {
	pointer-events:none;
}

.ghost {
	visibility: hidden
}

#treeTab td button {
    margin: 0 10px;
}

.bg {
	z-index: -9900;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	top: 0
}

.bg2 {
	z-index: -9909;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}

.noBackground {
	background: transparent !important;
	background-image: none !important;
	--background: transparent !important;
}
