* {
	transition-duration: 0.5s;
	text-align: center;
	font-family: "Inconsolata", monospace;
	font-weight: bold;
	table-align: center;
	margin: auto;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

}
.titleHeader {
	position: absolute;
	width: 262px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.75);
	font-size:20px;
	z-index:10000;
	background: linear-gradient(45deg, #8a00a9, #0061ff);
	border: 2px solid #7a7a7a;
}
.layerMenu {
	position: absolute;
	z-index:1000;
	width: 200px;
	top: 62px;
	justify-content: auto;
	user-select: none;
	height:calc(100% - 66px);
	left:50px;
	background: #0f0f0f;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	border-bottom: 2px solid #7a7a7a;
}
.menuButton {
	width: 175px;
	height: 50px;
	justify-content: auto;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.9);
	font-size:16px;
	z-index:10000;
	cursor: pointer;
	pointer-events: auto;
	background: #a3a3a3;
	border: var(--hqProperty1);
	border-radius: 15px;
	border-color: rgba(0, 0, 0, 0.125);
	transition: all 0s;
}
.menuButton:hover {
	box-shadow: var(--hqProperty2a), 0 0 20px var(--points);
}
.contentMenu {
	position: absolute;
	z-index:1001;
	width: 66px;
	top: 62px;
	justify-content: auto;
	user-select: none;
	height:calc(100% - 64px);
	left:50px;
	background: #0f0f0f;
	display: flex;
	overflow-y: hidden;
	overflow-x: hidden;
	flex-direction: column;
}
.uniMenu {
	z-index:1001;
	width: 60px;
	justify-content: auto;
	flex: 1;
	height:calc(100% - 76px);
	left:0px;
	background: #0f0f0f;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	border-left: 2px solid #7a7a7a;
	border-right: 4px solid #7a7a7a;
	border-top: 2px solid #7a7a7a;
	border-bottom: 2px solid #7a7a7a;
}
.uniButton {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.9);
	font-size:20px;
	z-index:10000;
	cursor: pointer;
	pointer-events: auto;
	background: #a3a3a3;
	border: var(--hqProperty1);
	border-radius: 15px;
	border-color: rgba(0, 0, 0, 0.125);
	transition: all 0s;
}
.uniButton:hover {
	box-shadow: var(--hqProperty2a), 0 0 20px var(--points);
}
.metaMenu {
	z-index:1001;
	width: 60px;
	height: auto;
	justify-content: auto;
	background: #0f0f0f;
	display: block;
	flex: none;
	overflow-y: hidden;
	overflow-x: hidden;
	flex-direction: column;
	border-left: 2px solid #7a7a7a;
	border-right: 4px solid #7a7a7a;
	border-bottom: 2px solid #7a7a7a;
}
.miscMenu {
	z-index:1001;
	width: 60px;
	height: 60px;
	background: #0f0f0f;
	display: block;
	flex: none;
	overflow-y: hidden;
	overflow-x: hidden;
	border-left: 2px solid #7a7a7a;
	border-right: 4px solid #7a7a7a;
	border-top: 2px solid #7a7a7a;
	border-bottom: 2px solid #7a7a7a;
}
.miscButton {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	z-index:10000;
	cursor: pointer;
	pointer-events: auto;
	transition: all 0.5s;
}
.miscButton:hover {
	transform: rotate(180deg)
}
.backButton {
	width: 50px;
	position: absolute;
	left:0px;
	top:0px;
	height: 50px;
	justify-content: auto;
	user-select: none;
	margin-bottom: 5px;
	color: white;
	font-size:25px;
	z-index:10000;
	cursor: pointer;
	pointer-events: auto;
	background: #0f0f0f;
	border: 2px solid #7a7a7a;
	transition: all 0.5s;
	vertical-align:baseline;
}
.contentHeader {
	width: 60px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.9);
	font-size:18px;
	z-index:10000;
	background: linear-gradient(90deg, #555555 0%, #454545 50%, #555555 100%);
	border-bottom: 2px solid #7a7a7a;
	margin-bottom: 10px;
	transition: all 0s;
}
.menuHeader {
	width: 185px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.9);
	font-size:18px;
	z-index:10000;
	background: linear-gradient(90deg, #3e3e3e 0%, #262626 50%, #3e3e3e 100%);
	border-top: 2px solid #7a7a7a;
	border-bottom: 2px solid #7a7a7a;
	border-left: 0px solid #3e3e3e;
	border-right: 0px solid #3e3e3e;
	margin-bottom: 10px;
	transition: all 0s;
}
.uniHeader {
	width: 185px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.9);
	font-size:18px;
	line-height:1;
	z-index:10000;
	background: linear-gradient(90deg, #555555 0%, #3e3e3e 50%, #555555 100%);
	border-top: 2px solid #7a7a7a;
	border-bottom: 2px solid #7a7a7a;
	border-left: 0px solid #3e3e3e;
	border-right: 0px solid #3e3e3e;
	margin-bottom: 10px;
	transition: all 0s;
}

*:focus {
	outline: none;
	webkit-outline: none;
}

html, body {
	min-height: 100%;
	height: 100%;
}

td {
	padding: 0
}

.upgTable {
	display: flex !important;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgRow {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgAlign {
	vertical-align: 0
}

.bigUpgAlign {
	vertical-align: 0
}

.treeThing {
	margin: 0 10px 0 10px;
	vertical-align: middle;
}

.can.upg:hover {
	z-index: 2
}

.can.buyable:hover {
	z-index: 2
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 40px;
	cursor: pointer;
}

.other-back {
	position: absolute;
	top: 0;
	left: 60px;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--color);
	font-size: 60px;
	cursor: pointer;
}

.back:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.hidden {
	visibility: hidden;
	height: 50px !important;
}

.canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -999;
}

.left {
	position: absolute;
	left: 0;
}

.remove {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.remove:hover {
	transform: scale(1.1, 1.1);
}

.col {
	min-width: 49.5%;
	max-width: 49.5%;
	width: 49.5%;
	height: 100%;
	min-height: 100%;
	column-span: 1;
	position: absolute;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.instant {
	transition-duration: 0s !important
}

.fast {
	transition:color none
}

.col.right {
	top: 0;
	right: 0;
}

#app {
	column-count: 2;
	column-width: 50%;
	min-height: 100%;
}

.vl2 {
	border-left: 3px solid var(--color);
	height: 100%;
}

ul {
	list-style-type: none;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.tooltipBox {
	position: relative;
  }

  .tooltipBox:hover .tooltip{
	opacity: 1;
  }

  .forceTooltip .tooltip{
	opacity: 1;
  }

.respecCheckbox {
	display: inline-block;
}


#loadingSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.treeOverlay {
	pointer-events:none;
	overflow:hidden;
}

.front {
	z-index: 30000
}

.overlayThing {
	z-index: 10000;
	pointer-events:auto;
}

.sideLayers {
	z-index: 10000;
	pointer-events:auto;
	position: absolute;
	right: 55px;
	top: 65px;
	background-color: transparent;
}

button > * {
	pointer-events:none;
}

.ghost {
	visibility: hidden
}

#treeTab td button {
    margin: 0 10px;
}

.bg {
	z-index: -9000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	top: 0
}

.bg2 {
	z-index: -9009;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}

.noBackground {
	background: transparent !important;
	background-image: none !important;
	--background: transparent !important;
}
