<!DOCTYPE html>
<head>

	<link rel="stylesheet" type="text/css" href="css/system-style.css" />
	<link rel="stylesheet" type="text/css" href="css/bars.css" />
	<link rel="stylesheet" type="text/css" href="css/components.css" />
	<link rel="stylesheet" type="text/css" href="css/general-style.css" />
	<link rel="stylesheet" type="text/css" href="css/misc.css" />
	<link rel="stylesheet" type="text/css" href="css/other-tabs.css" />
	<link rel="stylesheet" type="text/css" href="css/popup.css" />
	<link rel="stylesheet" type="text/css" href="css/tree-node.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="icon" href="resources/gat.png">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

	<script src="https://unpkg.com/vue@2.7.16/dist/vue.min.js"></script>
	<script src="js/technical/break_eternity.js"></script>
	<script src="js/technical/layerSupport.js"></script>

	<script src="js/mod.js"></script>
	<script src="js/technical/loader.js"></script>

	<script src="js/technical/temp.js"></script>
	<script src="js/technical/displays.js"></script>

	<script src="js/game.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/utils/easyAccess.js"></script>
	<script src="js/technical/systemComponents.js"></script>
	<script src="js/components.js"></script>
	<script src="js/technical/canvas.js"></script>
	<script src="js/technical/particleSystem.js"></script>
	<script src="js/utils/NumberFormating.js"></script>
	<script src="js/utils/options.js"></script>
	<script src="js/utils/save.js"></script>
	<script src="js/utils/themes.js"></script>

</head>
<body onload="load()" onmousemove="updateMouse(event)">
	<div id="app">
		<div class="uiHolder" v-if="!player.hideMenu" v-bind:style="!player.startedGame || player.tab == 'c' ?{'left':'-110%'}:{'left':'0px'}">
			<div class="uniHolder">
				<button class="uniButton" v-if="layerShown('i')" v-bind:style="constructUniButtonStyle('i') " onclick="player.universe=1"><span class="buttonText">1</span></button>
				<button class="uniButton" v-if="layerShown('h')" v-bind:style="constructUniButtonStyle('h') " onclick="player.universe=-666"><span class="buttonText">H</span></button>
 				<button class="uniButton" v-if="layerShown('in')" v-bind:style="constructUniButtonStyle('in') " onclick="player.universe=2"><span class="buttonText">2</span></button>
 				<button class="uniButton" v-if="layerShown('cp')" v-bind:style="constructUniButtonStyle('cp') " onclick="player.universe=1.5"><span class="buttonText">A1</span></button>
				<button class="uniButton" v-if="layerShown('au2')" v-bind:style="constructUniButtonStyle('au2') " onclick="player.universe=2.5"><span class="buttonText">A2</span></button>
 				<button class="uniButton" v-if="layerShown('s')" v-bind:style="constructUniButtonStyle('s') " onclick="player.universe=3"><span class="buttonText">3</span></button>
 				<button class="uniButton" v-if="layerShown('du')" v-bind:style="constructUniButtonStyle('du') " onclick="player.universe=-0.1"><span class="buttonText">D1</span></button>
				<button class="uniButton" v-if="layerShown('ch')" v-bind:style="constructUniButtonStyle('ch') " onclick="player.universe=-0.5"><span class="buttonText">γ</span></button>
			</div>
			<div class="layerHolder">
				<div v-bind:class="{titleHolder:true,darkTitle:player.sma.inStarmetalChallenge}">
					<p v-if="player.universe == 1">Universe 1<br>Overworld</p>
					<p v-if="player.universe == -666">Universe α<br>Hex</p>
					<p v-if="player.universe == 2">Universe 2<br>Antimatter World</p>
					<p v-if="player.universe == 1.5">Alt-Universe 1<br>Cantepocalypse</p>
					<p v-if="player.universe == 3">Universe 3<br>Domain of Singularity</p>
					<p v-if="player.universe == -0.5">Universe γ<br>Hall of Celestials</p>
					<p v-if="player.universe == -0.1">Dark Universe 1<br>Shadow Overworld</p>
					<p v-if="player.universe == 2.5">Alt-Universe 2<br>Cosmic Cosmos</p>
					<p v-if="player.universe == 0.5">Check Back</p>
				</div>
				<span v-if="options.menuType == 'Tree'">
					<tree :layer="'i'" :data="tree1" v-if="player.universe == 1"></tree>
					<tree :layer="'h'" :data="treeh" v-if="player.universe == -666"></tree>
					<tree :layer="'in'" :data="tree2" v-if="player.universe == 2"></tree>
					<tree :layer="'cp'" :data="treeA1" v-if="player.universe == 1.5"></tree>
					<tree :layer="'s'" :data="tree3" v-if="player.universe == 3"></tree>
					<tree :layer="'ch'" :data="treeCH" v-if="player.universe == -0.5"></tree>
					<tree :layer="'du'" :data="treeD" v-if="player.universe == -0.1"></tree>
					<tree :layer="'au2'" :data="treeAU2" v-if="player.universe == 2.5"></tree>
					<tree :layer="'cb'" :data="treeCB" v-if="player.universe == 0.5"></tree>
				</span>
				<span v-if="options.menuType == 'Tab'">
					<tab-tree :layer="'i'" :data="tree1" v-if="player.universe == 1"></tab-tree>
					<tab-tree :layer="'h'" :data="treeh" v-if="player.universe == -666"></tab-tree>
					<tab-tree :layer="'in'" :data="tree2" v-if="player.universe == 2"></tab-tree>
					<tab-tree :layer="'cp'" :data="treeA1" v-if="player.universe == 1.5"></tab-tree>
					<tab-tree :layer="'s'" :data="tree3" v-if="player.universe == 3"></tab-tree>
					<tab-tree :layer="'ch'" :data="treeCH" v-if="player.universe == -0.5"></tab-tree>
					<tab-tree :layer="'du'" :data="treeD" v-if="player.universe == -0.1"></tab-tree>
					<tab-tree :layer="'au2'" :data="treeAU2" v-if="player.universe == 2.5"></tab-tree>
					<tab-tree :layer="'cb'" :data="treeCB" v-if="player.universe == 0.5"></tab-tree>
				</span>
			</div>
			<div class="miscMenu">
				<button class="miscButton" v-if="!player.cp.cantepocalypseActive && !player.sma.inStarmetalChallenge" :disabled="!layerShown('cb')" onclick="player.universe=0.5;showTab('cb')">
					<img class="miscImg" src="resources/ui/checkback.png" v-if="layerShown('cb')"></img>
					<div class="miscText" v-if="!layerShown('cb')">?</div>
				</button>
				<button class="miscButton" v-if="!player.cp.cantepocalypseActive && !player.sma.inStarmetalChallenge" :disabled="!(hasUpgrade('i', 21) || hasUpgrade('ad', 13))" onclick="showTab('po');player.subtabs['po']['stuff'] = 'Otherworldly Features'" style="border-left:0px">
					<img class="miscImg" src="resources/ui/universe.png" v-if="hasUpgrade('i', 21) || hasUpgrade('ad', 13)"></img>
					<div class="miscText" v-if="!(hasUpgrade('i', 21) || hasUpgrade('ad', 13))">?</div>
				</button>
				<button class="miscButton" v-if="!player.cp.cantepocalypseActive && !player.sma.inStarmetalChallenge" :disabled="!tmp.po.microtabs.stuff.Halter.unlocked" onclick="showTab('po');player.subtabs['po']['stuff'] = 'Halter'">
					<img class="miscImg" src="resources/ui/halter.png" v-if="tmp.po.microtabs.stuff.Halter.unlocked"></img>
					<div class="miscText" v-if="!tmp.po.microtabs.stuff.Halter.unlocked">?</div>
				</button>
				<button v-bind:class="{miscButton:true,darkButton:player.sma.inStarmetalChallenge}" onclick="showTab('settings')" style="border-right:0px">
					<img class="miscImg" src="resources/ui/settings.png"></img>
				</button>
			</div>
		</div>
		<canvas id="treeCanvas" class="canvas" v-if="!(tmp.gameEnded && !player.keepGoing)"></canvas>
		<div v-if="false" id="loadingSection" class="fullWidth">
			<h1>Loading... (If this takes too long it means there was a serious error!)←</h1>
		</div>
		<div class="vl" v-if="player.navTab !== 'none' && tmp.other.splitScreen && player.tab!='none' && !(tmp.gameEnded && !player.keepGoing)"></div>
		<div v-if="(tmp.gameEnded && !player.keepGoing)" class="fullWidth">
			<br>
			<h2>{{modInfo.name}} {{VERSION.withoutName}}</h2><br><br>
			<h3>Uh oh, this isn't supposed to appear.</h3><br>
			<h3>Seems the game spontaniously inflated.</h3><br>
			<h3>If possible, would appreciate info in the discord :]</h3><br>
			<br>
			<button class="longUpg can" onclick="hardReset(true)">Play Again</button>&nbsp;&nbsp;&nbsp;&nbsp;<button
				class="longUpg can" onclick="keepGoing()">Keep Going</button>
			<br><br><br>
			<span v-if="modInfo.discordLink"><a class="link" v-bind:href="modInfo.discordLink"
					target="_blank">{{modInfo.discordName}}</a><br></span>
			<a class="link" href="https://discord.gg/F3xveHV" target="_blank"
				v-bind:style="modInfo.discordLink ? {'font-size': '16px'} : {}">The Modding Tree Discord</a><br>
			<a class="link" href="http://discord.gg/wwQfgPa" target="_blank" v-bind:style="{'font-size': '16px'}">Main
				Prestige Tree server</a><br>
			<br><br>
		</div>

		<div id="treeOverlay" v-if="!(tmp.gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.splitScreen || !readData(layoutInfo.showTree))" class="treeOverlay" onscroll="resizeCanvas()"
			v-bind:class="{
			fullWidth: (player.tab == 'none' || player.navTab == 'none'),
			col: (player.tab !== 'none' && player.navTab !== 'none'),
			left: (player.tab !== 'none' && player.navTab !== 'none')}"
			 :style="{'margin-top': !readData(layoutInfo.showTree) && player.tab == 'info-tab' ? '50px' : ''}">
			<button
			v-if="((player.navTab == 'none' && (tmp[player.tab].row == 'side' || tmp[player.tab].row == 'otherside' || player[player.tab].prevTab)) || player[player.navTab]?.prevTab)"				class="other-back overlayThing" onclick="goBack(player.navTab == 'none' ? player.tab : player.navTab)">←</button>
			<overlay-head v-if="!(tmp.gameEnded && !player.keepGoing)"></overlay-head>
			<div class="sideLayers">
				<div v-for="(node, index) in OTHER_LAYERS['side']">
					<tree-node :layer='node' :abb='tmp[node].symbol' :size="'small'" :key="'side' + index"></tree-node>
				</div>
			</div>
		</div>

		<div v-if="!(tmp.gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.splitScreen)" id="treeTab"  onscroll="resizeCanvas()"
			v-bind:class="{ fullWidth: (player.tab == 'none' || player.navTab == 'none'), col: (player.tab !== 'none' && player.navTab !== 'none'), left: (player.tab !== 'none' && player.navTab !== 'none')}">
			<br><br><br><br>
			<overlay-head id="fakeHead" style="visibility: hidden;">
			</overlay-head>
			<layer-tab :layer="player.navTab == 'none' ? player.tab : player.navTab" :key="'left'"></layer-tab>
			<bg :layer="player.navTab == 'none' ? player.tab : player.navTab" ></bg>
		</div>

		<!-- Popups -->
		<div class="popup-container">
			<transition-group name="fade">
				<div v-for="popup,index in activePopups" class="popup" v-bind:class="popup.type"
					 v-bind:key="'p' + popup.id" v-on:click="() => {activePopups.splice(index, 1)}" v-bind:style="popup.color ? {'background-color': popup.color} : {}">
					<h3>{{popup.title}}</h3><br>
					<h2 v-html="popup.message"></h2>
				</div>
			</transition-group>
		</div>
		<div class="particle-container">
				<div v-for="particle,index in particles">
					<particle :data="particle" :index="index" v-bind:key="'b' + particle.id"></particle>
				</div>
		</div>

		<div id="layerHolder" v-if="player.navTab !== 'none' && player.tab !== 'none' && !(tmp.gameEnded && !player.keepGoing)" onscroll="resizeCanvas()" v-bind:class="{fullWidth: player.navTab == 'none' || !tmp.other.splitScreen || !readData(layoutInfo.showTree), fast: true, tab: true}">
			<div v-for="layer in LAYERS">
				<div v-if="player.tab==layer">
					<layer-tab :layer="layer" :back="'none'" :spacing="'50px'" :key="'left'"></layer-tab>
				</div>
			</div>
			<bg :layer="player.tab" ></bg>

		</div>
		<div class="layerBG" id="uniBG" v-if="player.startedGame && !player.hideMenu"></div>
	</div>
</body>
